<html lang="html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tasks</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <!-- Choices.js-->
    <link rel="stylesheet" href="../../static/admin/vendor/choices.js/public/assets/styles/choices.min.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="../../static/admin/css/style.default.premium.688adad1.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="../../static/admin/css/custom.0a822280.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="../../static/admin/img/favicon.3903ee9d.ico">
    <link rel="stylesheet" href="../../static/admin/css/fontawesome.css">
</head>
<body>
<header class="header">
    <nav class="navbar navbar-expand-lg py-3 bg-dash-dark-2 border-bottom border-dash-dark-1 z-index-10">

        <div class="container-fluid d-flex align-items-center justify-content-between py-1">
            <div class="navbar-header d-flex align-items-center"><a class="navbar-brand text-uppercase text-reset"
                                                                    href="index.html">
                <div class="brand-text brand-big"><strong class="text-primary">Задача</strong><strong>ОТСЛЕЖИВАТЕЛЬ</strong></div>
                <div class="brand-text brand-sm"><strong class="text-primary">D</strong><strong>A</strong></div>
            </a>
                <button class="sidebar-toggle">
                    <svg class="svg-icon svg-icon-sm svg-icon-heavy transform-none">
                        <use xlink:href="#arrow-left-1"></use>
                    </svg>
                </button>
            </div>

        </div>
    </nav>
</header>
<div class="d-flex align-items-stretch">
    <!-- Sidebar Navigation-->
    <nav id="sidebar">
        <!-- Sidebar Header-->
        <div class="sidebar-header d-flex align-items-center p-4"><a
            <div class="ms-3 title">
            </div>
        </div>
        <span class="text-uppercase text-gray-600 text-xs mx-3 px-2 heading mb-2">Main</span>

    </nav>
    <div class="page-content">
        <!-- Page Header-->
        <div class="bg-dash-dark-2 py-4">
            <div class="row">
                <div class="col-md-3">
                    <h2 class=" mb-0"><span style="padding: 0px 20px;">&nbsp;</span>Задачи</h2>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-outline-primary" onclick="window.location.href='createTask'">Добавить задачу</button>
                </div>
            </div>

        </div>
        <section>
            <div class="container-fluid">
                <div class="row gy-4">
                	<form method="POST" action="">
					  <div class="form-group">
					    <label for="taskTitle">Название</label>
					    <input type="text" class="form-control" id="taskTitle" placeholder="пока кать">
					  </div>
					  <div class="form-group">
					    <label for="taskDescription">Описание</label>
					    <textarea class="form-control" id="taskDescription" rows="3"></textarea>
					  </div>
					  	<div class="form-group">
					    <label for="taskExecutor">Исполнитель</label>
					    <select class="form-control" id="taskExecutor">
                            {% for item in users %}
					        <option>{{item[0].surname}} {{item[0].name}} - {{item[0].specialization}} - {{item[1]}}</option>
                            {% endfor %}
					    </select>
					  </div>
					</form>
                    

                </div>
            </div>
        </section>


        <!-- Page Footer-->

    </div>
</div>


<!-- JavaScript files-->
<script src="../../static/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../static/admin/vendor/just-validate/js/just-validate.min.js"></script>

<script src="../../static/admin/vendor/choices.js/public/assets/scripts/choices.min.js"></script>
<script src="../../static/admin/js/js-cookie.0d5f0e08.js"></script>


<!-- Notifications  -->
<!-- Toast
<div class="toast-container position-fixed top-0 end-0 p-4">
  <div class="toast hide bg-dash-dark-1 text-white" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header bg-dash-dark-1"><strong class="me-auto">Bootstrap</strong><small>11 mins ago</small>
      <button class="btn-close btn-close-white" type="button" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">Hello, world! This is a toast message.</div>
  </div>
</div>
-->
<script src="../../static/admin/js/home-premium.82d409ff.js"></script>
<!-- Main File-->
<script src="../../static/admin/js/front.df077648.js"></script>
<!--
<script src="../../static/admin/js/MyJs/autoLoad.js"></script>

 FontAwesome CSS - loading as last, so it doesn't block rendering-->
</body>
</html>